.RightModuleBoard {
    position: fixed;
    right: 30px;
    top: 130px;
}

.RightModuleBoard .prevStep {

}

.RightModuleBoard .nextStep {

}

.RightModuleBoard  {
    .flag {
        height: 15px;
        width: 1px;
        background: #d7d7d7;
        position: absolute;
        top: 12px;
    }
}

.extraDrawer {
    top: 80px;
    z-index: 1;
}