.App {
    position: relative;
    width: 100%;
    background: #555;
    min-height: 100vh;
    .container {
        position: relative;
        max-width: 480px;
        background: #ffffff;
        height: 100vh;
        margin: 0 auto;
    }
}   